---
import Layout from "../../layouts/generalLayout.astro";

const title = "About Us";
const topRibbon = {
	txt: "About Us",
};
const botRibbon = {
	txt: "Tell us a bit about your goals, and we'll help you build a development roadmap",
	buttonTxt: "Contact Us",
};
---
<Layout title={title} topRibbonVars={topRibbon} botRibbonVars={botRibbon}>
	<div class="about">
		<h2>Who we are</h2>
		<p>EGD is a boutique consulting firm focused on solving complex problems using engineering best practices.<br><br>
		Our team comes from the tech industry, with expertise working in large companies, government projects, and startups.<br><br>
		Our founders are from the US and Europe, we are a German GmbH, and we have customers worldwide in industries such as space systems, automotive applications, quantum computing, and more.
		<br><br>
		</p>
		<h2>Contact Us</h2>
		<p>We'd love to hear from you! Contact us with questions, collaboration opportunities, or to get help with your project at info@elgansodorado.com.</p>
	</div>
	<div class="contact">
	</div>
</Layout>


<style>
	.about{
		display: grid;
		grid-template-columns: 30% 70%;
	}.contact{
		display: grid;
		grid-template-columns: 70% 30%;
	}.about h2, .contact h2{
		color: var(--egdDarkGrey);
		margin-top: 0;
	}.about p{
	}
	@media only screen and (max-width: 760px){
		.about{
			grid-template-columns: 100%;
		}
	}
</style>
