:root{
	--egdOrange: #F98E2D;
	--egdLightGrey: #EBEBEB;
	--egdDarkGrey: #7D8392;
	--egdBlue: #8DA9D2;
}
a, dd, dt, hr, ul
{
	padding: 0;
	margin: 0;
}a{
	cursor: pointer;
	text-decoration:none;
	color: var(--egdDarkGrey);
}body{
	margin:auto;
	width:clamp(60%,800px,100%);
	overflow-x:hidden;
	background-color: white;
}button{
	border-radius: 10px;
	font-family:sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	padding: 5px 10px;
	margin:auto;
	text-align: center;
	cursor: pointer;
}div{
	position: relative;
	padding: 10px 0;
	border-collapse: collapse;
}dl{
	padding: 0;
	margin: 10px;
}dt{
	font-weight: 700;
	margin: 10px 0;
}dd{
	margin: 5px 0;
}form{
	display:flex;
	height: 100%;
}h1, h2, h3, h4, h5{
	line-height: 1.2;
	padding: 0;
	margin: 25px 10px;
}h1{
	font-family: "Times New Roman", serif;
	font-weight: 700;
	font-size: 6em;
}h2{
	font-family: "Times New Roman", serif;
	font-weight: 400;
	font-size: 4em;
}h3{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 2em;
}h4{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 2em;
}h5{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 1.5em;
}header, footer{
	position: relative;
}hr{
	height: 2px;
	background-color: var(--egdDarkGrey);
	border: none;
	overflow: hidden;
}img{
	height: 100%;
	width: auto;
	object-fit: cover;
}li, p{
	font-family:sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}p{
	margin: 15px;
	padding: 0;
}span{
	position: absolute;
	overflow: hidden;
	border-collapse: collapse;
}ul{
	list-style-type:none;
}a:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 760px){
	button{
		font-size: 1.2em;
	}h1{
		font-size: 4em;
	}h2{
		font-size: 3em;
	}
}
.head{
	height: auto;
	min-height: 40px;
	width: 100%;
}.headImage{
	display: inline-block;
}.headImage img{
	height: auto;
	width: 100px;
	margin: 10px;
}.headOptions{
	top: 0;
	right: 25px;
	height: 100%;
	width: auto;
	z-index: 4;
	background-color: inherit;
}.headOptions p{
	font-weight: 700;
	float: left;
}.headOptions hr{
	display: none;
	margin: 6px 0;
	height: 4px;
	width: 36px;
}
@media only screen and (max-width: 760px){
	.headOptions{
		top: 20px;
		height: auto;
		cursor: pointer;
	}.headOptions ul{
		display: none;
	}.headOptions hr{
		display: block;
	}.head:focus-within .headOptionsClose{
		display: block;
	}.headOptions:focus-within{
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transform: none;
		margin: 0;
		cursor: default;
		background-color: var(--egdLightGrey);
		z-index: 2;
	}.headOptions:focus-within ul{
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		height: auto;
		transform: translate(-50%, -50%);
	}.headOptions:focus-within li{
		display: inline-block;
		width: 100%;
		margin: 10px 0;
	}.headOptions:focus-within p{
		width: 100%;
		font-size: 2em;
		margin: 0;
	}.headOptions:focus-within hr{
		display: none;
	}.headOptionsClose{
		position: fixed;
		display: none;
		top: 18px;
		right: 25px;
		height: 36px;
		width: 36px;
		cursor: pointer;
		z-index: 3;
	}.headOptionsClose hr{
		position: absolute;
		top: 50%;
		right: 0;
		margin: 0;
	}.headOptionsCloseLeft{
		rotate: -45deg;
	}.headOptionsCloseRight{
		rotate: 45deg;
	}
}
.topRibbon{
	height: auto;
	width: 100%;
	padding: 50px 0 25px 0;
	background-color: var(--egdDarkGrey);
	z-index: 1;
}.topRibbon h1{
	color: var(--egdOrange);
}.topRibbon h2{
	color: var(--egdLightGrey);
}.topRibbonImg{
	bottom: 0;
	right: 0;
	height: auto;
	width: 80%;
	z-index: -1;
}
@media only screen and (max-width: 760px){
	.topRibbon{
		padding: 25px 0;
	}
}
.botRibbon{
	height: auto;
	width: 100%;
	text-align: center;
	background-color: var(--egdOrange);
}.botRibbon h3{
	margin: 20px;
	color: var(--egdLightGrey);
}.botRibbon button{
	margin: 10px auto;
}
.foot{
	height: auto;
	width: 100%;
	background-color: var(--egdLightGrey);
}.foot hr{
	width: 300%;
	transform: translate(-50%, 0);
}.footOptions{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	padding: 40px 20px;
	font-size: 1.2em;
}.footFoot{
	display: grid;
	grid-template-columns: 30% 40% 30%;
	text-align: center;
	padding: 5px;
}.footFoot p{
	color: var(--egdDarkGrey);
	font-size: 1em;
	padding: 8px 0; 
}.footFootEnd{
	justify-content: flex-end;
}
@media only screen and (max-width: 760px){
	.foot hr{
		width: 100%;
		transform: none;
	}.footOptions{
		grid-template-columns: 50% 50%;
	}.footFoot{
		grid-template-columns: 100%;
	}.footFoot ul{
		justify-content: center;
	}
}
.buttonOrange{
	color: var(--egdLightGrey);
	background-color: var(--egdOrange);
	border: 4px solid var(--egdDarkGrey);
}.buttonOrange:hover{
	color: var(--egdDarkGrey);
	background-color: var(--egdLightGrey);
}.buttonGrey{
	color: var(--egdDarkGrey);
	background-color: var(--egdLightGrey);
	border: 4px solid var(--egdDarkGrey);
}.buttonGrey:hover{
	color: var(--egdLightGrey);
	background-color: var(--egdDarkGrey);
}.buttonBlue{
	color: var(--egdLightGrey);
	background-color: var(--egdBlue);
	border: 4px solid var(--egdDarkGrey);
}.buttonBlue:hover{
	color: var(--egdDarkGrey);
	background-color: var(--egdLightGrey);
}
.horizontalUl{
	display: flex;
	height: 100%;
}.horizontalUl li{
	text-align: center;
	margin: auto 8px;
}
.ribbon{
	overflow: clip;
	top: 0;
	left: -100%;
	height: 100%;
	width: 300%;
	background-color: inherit;
	z-index: -2;
}
@media only screen and (max-width: 760px){
	.ribbon{
		display: none;
	}
}
