---
import Layout from "../../layouts/generalLayout.astro";

const title = "Terms & Services";
const topRibbon = {
	txt: "Terms and Services",
};
const botRibbon = {
	txt: "Tell us a bit about your goals, and we'll help you build a development roadmap",
	buttonTxt: "Contact Us",
};
---

<Layout title={title} topRibbonVars={topRibbon} botRibbonVars={botRibbon}>
	<div class="terms">
		<h3>TERMS OF USE</h3>
		<p>
			<b>Acceptance of Terms:</b> These Terms of Use ("Terms") constitute a legally binding agreement between you (the "User") and El Gansod Dorado GmbH, a German limited liability company ("EGD"), governing your use of this website (the "Website"). By accessing or using the Website, you acknowledge that you have read, understood, and agree to be bound by these Terms.<br>
			<b>Use of Content:</b> All content on the Website, including but not limited to text, images, graphics, logos, trademarks, and trade names (the "Content"), is for informational purposes only. You may print, download, or store the Content from this site for your own personal use.<br>
			<b>Intellectual Property Rights:</b> The Content and intellectual property rights contained on the Website are owned by EGD or its affiliates, and are protected under applicable copyright laws. Any reproduction, modification, creation of derivative works, distribution, display, transmission, or otherwise exploiting any part of the Content without the express written permission from EGD is prohibited.<br>
			<b>Disclaimers:</b> The Website and all Content on it are provided "as is" without warranties of any kind, either expressed or implied. EGD disclaims all liability for damages resulting from your reliance on the information contained in or omitted from the Website.<br> 
			<b>Changes to Terms:</b> EGD reserves the right to modify these Terms at any time by posting changes here. You understand and agree that your continued use of the Website will be deemed as acceptance of the updated Terms.<br>
		</p>
		<h3>CONDITIONS OF USE</h3>
		<p>
			<b>Jurisdiction:</b> These Terms shall be governed exclusively by, and construed in accordance with, the laws of Germany (including its domestic courts).<br>
			<b>No Warranties:</b> EGD makes no warranties or representations about the accuracy or completeness of Content on this Website.<br>
			<b>User Responsibilities:</b> You agree not to use the Website for any purpose that is illegal, prohibited, or could damage, disable, overburden, or impair this site's servers or its operation.<br>
		</p>
		<h3>PRIVACY POLICY</h3>
		<p>
			<b>Data Collection and Use:</b> EGD GmbH respects your privacy and does not collect any personal data from you through this website.<br>
			<b>Third-Party Links:</b> The Site may contain links to third-party websites. Please note that EGD is not responsible for the privacy practices of these sites. <br>
		</p>
	</div>
</Layout>

<style>
	.terms{
		display: grid;
		grid-template-columns: 20% 80%;
	}.terms h3{
		color: var(--egdDarkGrey);
	}.terms p{
		font-size: 1.4em;
		margin-top: 20px;
	}
</style>
