:root{
	--egdOrange: #F98E2D;
	--egdLightGrey: #EBEBEB;
	--egdDarkGrey: #7D8392;
	--egdBlue: #8DA9D2;
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

a, dd, dt, hr, ul
{
	padding: 0;
	margin: 0;
}a{
	cursor: pointer;
	text-decoration:none;
	color: var(--egdDarkGrey);
}body{
	margin:auto;
	width:clamp(60%,800px,100%);
	overflow-x:hidden;
	background-color: white;
}button{
	border-radius: 10px;
	font-family:sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	padding: 5px 10px;
	margin:auto;
	text-align: center;
	cursor: pointer;
}div{
	position: relative;
	padding: 25px 0;
	border-collapse: collapse;
}dl{
	padding: 0;
	margin: 10px;
}dt{
	font-weight: 700;
	margin: 10px 0;
}dd{
	margin: 5px 0;
}form{
	display:flex;
	height: 100%;
}h1, h2, h3, h4, h5{
	line-height: 1.2;
	padding: 0;
	margin: 25px 10px;
}h1{
	font-family: "Rubik", "Times New Roman", serif;
	font-weight: 700;
	font-size: 6em;
}h2{
	font-family: "Rubik", "Times New Roman", serif;
	font-weight: 400;
	font-size: 4em;
}h3{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 2em;
}h4{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 2em;
}h5{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 1.5em;
}header, footer{
	position: relative;
}hr{
	height: 2px;
	background-color: var(--egdDarkGrey);
	border: none;
	overflow: hidden;
}img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}li, p{
	font-family:"Libre Franklin", sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}p{
	margin: 15px;
	padding: 0;
}span{
	position: absolute;
	overflow: hidden;
	border-collapse: collapse;
}ul{
	list-style-type:none;
}a:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 760px){
	button{
		font-size: 1.2em;
	}
}

.none{
	display: none;
}
.buttonOrange{
	color: var(--egdLightGrey);
	background-color: var(--egdOrange);
	border: 4px solid var(--egdDarkGrey);
}.buttonOrange:hover{
	color: var(--egdDarkGrey);
	background-color: var(--egdLightGrey);
}.buttonGrey{
	color: var(--egdDarkGrey);
	background-color: var(--egdLightGrey);
	border: 4px solid var(--egdDarkGrey);
}.buttonGrey:hover{
	color: var(--egdLightGrey);
	background-color: var(--egdDarkGrey);
}.buttonDarkGrey{
	color: var(--egdLightGrey);
	background-color: var(--egdDarkGrey);
	border: 4px solid var(--egdDarkGrey);
}.buttonBlue{
	color: var(--egdLightGrey);
	background-color: var(--egdBlue);
	border: 4px solid var(--egdDarkGrey);
}.buttonBlue:hover{
	color: var(--egdDarkGrey);
	background-color: var(--egdLightGrey);
}
.horizontalUl{
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
}.horizontalUl li{
	text-align: center;
	margin: auto 8px;
}
.ribbon{
	overflow: clip;
	top: 0;
	left: -100%;
	height: 100%;
	width: 300%;
	background-color: inherit;
	z-index: -2;
}
@media only screen and (max-width: 760px){
	.ribbon{
		display: none;
	}
}
