---
const socialMedia = [
{
	name: "Bluesky",
	src: "/bluesky-icon.svg",
	link: "https://bsky.app/profile/elgansodoradogmbh.bsky.social",
},
{
	name: "Mastodon",
	src: "/mastodon-icon.svg",
	link: "https://mastodon.social/@elgansodorado",
},
{
	name: "Github",
	src: "/github-icon.svg",
	link: "https://github.com/elgansodorado-dev",
},
{
	name: "Patreon",
	src: "/patreon-icon.svg",
	link: "https://www.youtube.com/@ElGansoDorado",
},
];
---

<footer class="foot">
	<span class="ribbon"></span>
	<!---
	<div class="footOptions">
		<dl>
			<dt><a href="/about">About</a></dt>
		</dl>
		<dl>
			<dt><a href="/contact">Contact</a></dt>
		</dl>
		<dl>
			<dt><a href="/services">Services</a></dt>
			<dd><a href="">services1</a></dd>
		</dl>
		<dl>
			<dt><a href="/articles">Insights</a></dt>
			<dd><a href="">insights1</a></dd>
		</dl>
	</div>
	<hr>
	--->
	<div class="footFoot">
		<ul class="horizontalUl">
			<li>
				<p><a href="/terms">Terms</a></p>
			</li>
			<li>
				<p><a href="/impressum">Impressum</a></p>
			</li>
		</ul>
		<p>Copyright © 2024 El Ganso Dorado GmbH</p>
		<ul class="footFootEnd horizontalUl">
			{socialMedia.map(sm =>
				<li>
					<a href={sm.link}><img src={sm.src} alt={sm.name.concat(" Logo")}></a>
				</li>
			)}
		</ul>
	</div>
</footer>

<style>
	.foot{
		height: auto;
		width: 100%;
		background-color: var(--egdLightGrey);
	}.foot hr{
		width: 300%;
		transform: translate(-50%, 0);
	}.footOptions{
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		padding: 40px 20px;
		font-size: 1.2em;
	}.footFoot{
		display: grid;
		grid-template-columns: 30% 40% 30%;
		text-align: center;
		padding: 5px;
	}.footFoot p{
		color: var(--egdDarkGrey);
		font-size: 1em;
		padding: 8px 0; 
	}.footFootEnd{
		justify-content: flex-end;
	}.footFootEnd a{
		display: inline-block;
		height: 30px;
		width: 30px;
	}.footFootEnd img{
		object-fit: contain;
		filter: invert(51%) sepia(14%) saturate(305%) hue-rotate(185deg) brightness(97%) contrast(96%);
	}.footFootEnd img:hover{
		/*filter: invert(76%) sepia(59%) saturate(4062%) hue-rotate(340deg) brightness(102%) contrast(95%);*/
		filter: invert(64%) sepia(34%) saturate(346%) hue-rotate(176deg) brightness(98%) contrast(87%);
	}
	@media only screen and (max-width: 760px){
		.foot hr{
			width: 100%;
			transform: none;
		}.footOptions{
			grid-template-columns: 50% 50%;
			text-align: center;
		}.footFoot{
			grid-template-columns: 100%;
		}.footFoot ul{
			justify-content: center;
		}
	}
</style>
