---
import Layout from "../../layouts/generalLayout.astro";

const title = "Impressum";
const topRibbon = {
	txt: "Impressum",
};
const botRibbon = {
	txt: "Tell us a bit about your goals, and we'll help you build a development roadmap",
	buttonTxt: "Contact Us",
};
---

<Layout title={title} topRibbonVars={topRibbon} botRibbonVars={botRibbon}>
	<div class="impressum">
		<p>
			El Ganso Dorado GmbH<br>
			Messerschmittstrasse 2<br>
			86480 Bad Wörishofen<br>
			Germany<br>
			<br>
			E-Mail: info@elgansodorado.com<br>
			<br>
			VAT: DE344484139<br>
			Amtsgericht Memmingen, HRB 19266<br>
			Managing Director: Aimi Yep<br>
		</p>
	</div>
</Layout>
<style>
	.impressum{
		width: 50%;
	}.impressum p{
		font-size: 1.5em;
	}
	@media only screen and (max-width: 760px){
		.impressum{
			width: 100%;
		}
	}
</style>

